<h3>Enter a new task here:</h3>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :description %>
  <%= f.text_field :description, :size => 150 %>
  <br>

  <%= f.label :completed_at %>
  <%= f.date_field :completed_at %>
  <br>

  <%= f.submit "Submit your task" %>
  <br>

<% end %>
