<h3>--Detailed Task Page--</h3>

<p><strong>Task name:</strong> <%= @task.name.capitalize %> </p>
<p><strong>Task description:</strong> <%= @task.description %></p>
<p><strong>Task completed date:</strong>
    <% if task_completed?(@task) == false %>
      <%= "DOESN'T EXIST BECAUSE YOU HAVEN'T DONE IT YET." %>
    <% else %>
      <%= "#{ formatted_date(@task) }" %>
    <% end %>
</p>

<br>

<%= button_to "Back home" %>

<br>
<%= button_to "Delete this record", {:controller => :tasks,
      :action => 'destroy', :id => @task.id }, :method => :delete %>
