<h2><%= @task.name %></h2>
<div>
  <p><strong>Task name:</strong> <%= @task.name.capitalize %> </p>
  <p><strong>Task description:</strong> <%= @task.description %></p>
  <% if task_completed?(@task) %>
    <p><strong>Task completed date:</strong>
    <%= "#{ formatted_date(@task) }" %></p>
  <% end %>
</div>

<div class="button" id="new-task-button">
  <%= link_to root_path do %>
    <h5>Back home</h5>
  <% end %>
</div>

<br>

<div class="button" id="new-task-button">
  <%= link_to task_path(@task), :method => :delete, data: { confirm: "Is this really the right decision?" } do %>
    <h5>Delete task</h5>
  <% end %>
</div>
