<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Task List</h1>
    <nav>
      <ul>
        <li><%= link_to "Logout", session_destroy_path %></li>
      </ul>
    </nav>
  </header>

  <article class="page-body">
    <%= yield %>
  </article>

  <footer>&copy <%=Time.now.year%></footer>
</body>
</html>
