<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Londrina+Solid" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Task List</h1>
    <nav>
      <% if session[:user_id].nil? %>
      <h3><%= link_to "Login", "/auth/github/" %></h3>
      <% else %>
        <h3><%= link_to "Logout", logout_path, method: :delete %></h3>
      <% end %>
    </nav>
  </header>

  <article class="page-body">
    <%= yield %>
  </article>

  <footer><p>&copy <%=Time.now.year%></p></footer>
</body>
</html>
